<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Correo</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-top">
    <ion-label position="stacked">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" [disabled]="loading" (click)="submit()">
    {{ loading ? 'Entrando...' : 'Entrar' }}
  </ion-button>

  <p class="ion-text-center ion-margin-top ion-text-danger">{{ error }}</p>
</ion-content>
